@using ru.emlsoft.WMS.Data.Dto.Doc;

@{
    ViewData["Title"] = "Документ поступления";
}

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    @model DocSpecDto;
}

<div id="app">
    <form class="form-horizontal" method="Post" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-sm-6" asp-for=GoodName></label>
                            <div class="col-sm-10">
                                <input asp-for=GoodName type="text" class="form-control" />
                                <span asp-validation-for=GoodName class="text-danger"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-sm-6" asp-for=Qty></label>
                            <div class="col-sm-10">
                                <input asp-for=Qty type="text" class="form-control" />
                                <span asp-validation-for=Qty class="text-danger"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="box-footer">
                <div class="pull-right box-tools">
                    <input class="btn btn-primary" type="submit">
                </div>
            </div>
            <div class="box-footer">
                <div class="pull-right box-tools">
                    <a href="/Doc/Detail/@Model.DocId" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts{ 
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}