@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization;
@using ru.emlsoft.WMS.Localization.Resources


@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <div class="login-box">
        <div class="login-logo">
            <h3>Clear DB</h3>
        </div>
        <div class="login-box-body">
            <form method="post">
                <div class="box-footer">
                    <div class="pull-right box-tools">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">CLEAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
