@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization;
@using ru.emlsoft.WMS.Localization
@using ru.emlsoft.WMS.Data.Dto

@inject IStringLocalizer<SharedResource> _sharedLocalizer


@{
    Layout = "/Views/Shared/_Layout.cshtml";
    @model ru.emlsoft.WMS.Data.Dto.UserDto
}

<div id="app"v>
    <form class="form-horizontal" method="Post" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-sm-6" asp-for=UserName></label>
                            <div class="col-sm-10">
                                <input asp-for=UserName type="text" class="form-control" />
                                <span asp-validation-for=UserName class="text-danger"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-sm-6" asp-for=Password1></label>
                            <div class="col-sm-10">
                                <input asp-for=Password1 type="password" class="form-control" autocomplete="off">
                                <span asp-validation-for="Password1" class="text-danger"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-sm-6" asp-for=Password2></label>
                            <div class="col-sm-10">
                                <input asp-for=Password2 type="password" class="form-control" autocomplete="off">
                                <span asp-validation-for="Password2" class="text-danger"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-sm-6" asp-for="Phone"></label>
                            <div class="col-sm-10">
                                <input name = "Phone" id = "Phone" type="text" class="form-control">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-sm-6" asp-for="Email"></label>
                            <div class="col-sm-10">
                                <input name = "Email" id = "Email" type="text" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="box-footer">
                <div class="pull-right box-tools">
                    <input class="btn btn-primary" type="submit">
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{ 
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}