@using Microsoft.AspNetCore.Identity
@inject SignInManager<ru.EmlSoft.WMS.Data.Abstract.Identity.User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ru.EmlSoft.WMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/adminlte.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WMS.styles.css" asp-append-version="true" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @await Html.PartialAsync("_Header")

        @if (SignInManager.IsSignedIn(User))
        {
            @await Html.PartialAsync("_MainSidebar", "menu")
        }

        <main role="main" class="content-wrapper px-4 py-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ru.EmlSoft.WMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
